@media screen and (max-width: 768px) {
    header h2{
        width: fit-content;
        font-size: 2em;
    }

    main .main-movie {
        position: relative;
    } 

    main .main-movie ul li.main-movie-poster{
        display: none;
    }


    main .main-movie ul li.main-movie-trailer{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }

    main .main-movie ul li.main-movie-trailer:before{
        display: block;
        content: "";
        padding-top: 56.25%;
        background-color: lavenderblush;
    }

    iframe{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .movie{
        width: 25%;
    }

    footer{
        font-size: 1.1em;
    }
}

@media screen and (max-width: 414px) {
    .main-movie ul{
        width: 100%;
    }

    .movie-list{
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
    }

    .movie{
        width: 100%;
    }

    footer{
        font-size: 0.9em;
        
    }
}